* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main{
	background: #f1f1f1f1;
	display: grid;
	grid-template-columns: 300px	  1fr; 
	height: 100vh;
	justify-content: center;
	align-items: center;
}

main .form-container{
	background: #444;
	padding: 32px;
	box-shadow: 1px 1px 10px rgba(0,0,0, 0.15);
	grid-column: 1;
	grid-row: 1 /-1;
	height: 100%;
	color: lightgray;
}



main .form-container #search-form input[type=submit]{
	width: 100%;
	border:none;
	padding: 8px;
	background: #01579b;
	color: white;
	margin-top:16px;
	transition: all 0.5s;
	border-radius: 5px
}

main .form-container #search-form input[type=submit]:hover{
	background: #bf360c;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

main .form-container #search-form .input-box{
	margin-top: 8px;
	font-size: .8em;
	color: lighgray;
}

main .form-container #search-form .input-box input,
main .form-container #search-form .input-box select{
	background: #777;
	width: 100%;
	border: none;
	padding:8px;
	color: lightgray;
	border-radius: 5px;
	-moz-appearance: none;
	position: relative;
	display: block;
}

main .form-container #search-form .input-box select::after {
	 position: absolute;
	 content: "";
	 top: 14px;
	 right: 10px;
	 width: 0;
	 height: 0;
	 border: 6px solid transparent;
	 border-color: #fff transparent transparent transparent;
	 border-bottom-color: lightgray; 
	 z-index: 2;	
}


main .result{
	color: #444;
	grid-row: 1/-1;
	height: 100%;
} 

main .result #trans-container{
	background: white;
	margin: 32px;
	padding: 32px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.15)
}

main .result #trans-container h2{
	font-size: 1.5em;
}

main .result #trans-container .transportadora{
	border-bottom: 1px solid lightgray;
	padding: 8px;
}